{:paths ["src"]
 :deps
 {com.github.gersak/toddler-ui {:mvn/version "0.1.0-SNAPSHOT"}
  com.github.gersak/toddler-theme {:mvn/version "0.1.0"}}
 :aliases
 {:shadow
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.2"}
                com.thheller/shadow-css {:mvn/version "0.5.0"}}
   :extra-paths ["dev"]}
  :css
  {:extra-paths ["dev"]
   :ns-default compile-css
   :exec-fn compile-css/release}}}
