{:module-uris {:main.XWllv [], :ui.XWllv ["/toddler-showcase/js/ui.XWllv.js"], :markdown.XWllv ["/toddler-showcase/js/markdown.XWllv.js"], :showcase.XWllv ["/toddler-showcase/js/showcase.XWllv.js"], :icons.XWllv ["/toddler-showcase/js/icons.XWllv.js"], :chartjs.XWllv ["/toddler-showcase/js/chartjs.XWllv.js"], :three.XWllv ["/toddler-showcase/js/three.XWllv.js"]}, :module-infos {:main.XWllv nil, :ui.XWllv #{:main.XWllv}, :markdown.XWllv #{:ui.XWllv}, :showcase.XWllv #{:markdown.XWllv}, :icons.XWllv #{:markdown.XWllv :showcase.XWllv :ui.XWllv}, :chartjs.XWllv #{:markdown.XWllv :showcase.XWllv :ui.XWllv}, :three.XWllv #{:markdown.XWllv :showcase.XWllv :ui.XWllv}}}